:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.app{
    max-width: 40rem;
    text-align: center;

    .form{
        border: solid .25rem black;
        border-radius: .5rem;
        padding: 1rem;
        margin: 0 auto;

        .field{
            display: flex;
            flex-direction: column;

            span{
                text-align: left;
            }

            .input-error{
                border: solid .125rem red;
            }

            button:hover {
                cursor: pointer;;
            }
        }
    }
}

