.employeeListScreen {
    &__table {
        max-width: fit-content;
        overflow-x: auto;

        h1 {
            text-align: center;
        }
        table {
            border-collapse: collapse;
        }
          
        td, th {
            border: .125rem solid #dddddd;
            text-align: left;
            padding: .5rem;
        }
          
        tr:nth-child(even) {
            background-color: #cdd1cc;
        }

        td:last-child {
            min-width: 12rem;
        }
    }
}