.employeeAddScreen {
    max-width: 36rem;
    &__form {
        form {
            display: flex;
            flex-direction: column;
        }
        label {
            margin: .5rem 0;
            font-weight: 600;
            input {
                width: -webkit-fill-available;
                padding: .125rem;
                margin: .25rem 0;
                font-size: 1.5rem;
            }
        }
    }
}