:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  max-width: 36rem;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .app {
  border: orangered .25rem dotted;
  border-radius: .5rem;
  padding: .5rem;
  margin: 1rem 0;
  max-width: 16rem;
  width: 16rem;

    input {
      border: green .25rem solid;
      border-radius: .5rem;
      height: 2rem;
      width: -webkit-fill-available;
    }

    h2 {
      margin-top: 0;
    }

    hr {
      background: orangered;
      line-height: 1rem;
      height: .125rem;
    }

    button:hover {
      cursor: pointer;
    }

    button {
      padding: .25rem .5rem;
      margin: 1rem 0;
    }
  }
}